CONFIG_WIFI_SSID="MyWiFi"
CONFIG_WIFI_PASSWORD="MyPassword"
CONFIG_CLOUD_ENDPOINT_URL="http://192.168.1.100:8000/v1/ingest"
CONFIG_DEVICE_ID="esp32-devkit-01"
CONFIG_RSSI_SAMPLE_INTERVAL_MS=2000
CONFIG_RSSI_WINDOW_SIZE=10
