CONFIG_WIFI_SSID="MyWiFi"
CONFIG_WIFI_PASSWORD="MyPassword"
CONFIG_YUGOEF_UDP_HOST="127.0.0.1"
CONFIG_YUGOEF_UDP_PORT=5005
CONFIG_YUGOEF_NODE_ID=1
CONFIG_YUGOEF_ROOM_ID=1
CONFIG_YUGOEF_WIFI_CHANNEL=6
CONFIG_CSI_MAX_PACKET_SIZE=1400
CONFIG_HEARTBEAT_INTERVAL_MS=5000
